# binaries
*.jar
*.class

# lein/maven stuff
/.lein-*
/.nrepl-port
/target
/classes
/checkouts
pom.xml
pom.xml.asc

# node stuff
npm-debug.log
/web/node_modules
/resources/public/app/js/bundle.js

# ide stuff
.idea
*.iml

# mac stuff
.DS_Store

